Project 3/p3
.DS_Store
.DS_Store
.zed/settings.json
Project 4/p4.dSYM/Contents/Resources/Relocations/aarch64/p4.yml
Project 4/p4.dSYM/Contents/Info.plist
Project 4/p4.dSYM/Contents/Resources/DWARF/p4
